<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <header>
        <h1>
            Chat Room: {{ roomId }}
        </h1>
        <input type="hidden" name="roomId" id="roomId" value="{{ roomId }}">
    </header>
    <main>
        <section id="participants">
            <h2>Participants</h2>
            <ul id="participant-list">
                <li>Me ({{ userId }})</li>
                <li>Other Participant 1</li>
                <li>Other Participant 2</li>
                <li>Other Participant 3</li>
                <li>Other Participant 4</li>
                <li>Other Participant 5</li>
            </ul>
        </section>

        <section id="video-container">
            <video id="local-video" autoplay muted></video>
            <div id="remote-videos">
                <video id="remote-video-1" autoplay></video>
                <video id="remote-video-2" autoplay></video>
                <video id="remote-video-3" autoplay></video>
                <video id="remote-video-4" autoplay></video>
                <video id="remote-video-5" autoplay></video>
            </div>
            <div id="controls">
                <button id="mute-button">
                    <img src="/icons/microphone-off-outline.svg" alt="Mute">
                    <img src="/icons/microphone-on-outline.svg" alt="Unmute">
                </button>
                <button id="video-button">
                    <img src="/icons/video-off-outline.svg" alt="Stop Video">
                    <img src="/icons/video-on-outline.svg" alt="Start Video">
                </button>
                <button id="share-screen-button">
                    <img src="/icons/share-screen-off-outline.svg" alt="Share Screen">
                    <img src="/icons/share-screen-on-outline.svg" alt="Stop Sharing">
                </button>
                <button id="leave-button">
                    <img src="/icons/exit-outline.svg" alt="Leave Room">
                </button>
            </div>
        </section>

        <section id="chat-container">
            <div id="messages">
                <div>
                    <p>Me</p>
                    <p>My message</p>
                    <p>02:06</p>
                </div>
                <div>
                    <p>Jhony Boi</p>
                    <p>Other's message</p>
                    <p>02:07</p>
                </div>
                <div>
                    <p>Jack Bauer</p>
                    <p>Another message from other</p>
                    <p>02:08</p>
                </div>
                <div>
                    <p>Someone Else</p>
                    <p>Yet another message from other</p>
                    <p>02:09</p>
                </div>
                <div>
                    <p>Me</p>
                    <p>Another message from me</p>
                    <p>02:10</p>
                </div>
            </div>
            <div>
                <button>
                    <img src="/icons/emoji.svg" alt="Emoji">
                </button>
                <input type="text" id="message-input" placeholder="Type your message here...">
                <button id="send-button">
                    <img src="/icons/send.svg" alt="Send">
                </button>
            </div>
        </section>
    </main>
    <script src="/chat-bundle.js"></script>
</body>

</html>
