<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <h1>
        Chat Room: {{ roomId }}
    </h1>
    <script src="/bundle.js"></script>
</body>

</html>
