<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <h1>
            Chat Room: {{ roomId }}
        </h1>
        <input type="hidden" name="roomId" id="roomId" value="{{ roomId }}">
    </header>
    <main>
        <section id="participants">
            <h2>Participants</h2>
            <ul id="participant-list"></ul>
        </section>

        <section id="video-container">
            <video id="local-video" autoplay muted></video>
            <div id="remote-videos"></div>
            <div id="controls">
                <button id="mute-button">
                    <img src="/icons/microphone-off-outline.svg" alt="Mute">
                </button>
                <button id="video-button">
                    <img src="/icons/video-off-outline.svg" alt="Stop Video">
                </button>
                <button id="share-screen-button">
                    <img src="/icons/share-screen-off-outline.svg" alt="Share Screen">
                </button>
                <button id="leave-button">
                    <img src="/icons/exit-outline.svg" alt="Leave Room">
                </button>
            </div>
        </section>

        <section id="chat-container">
            <div id="messages"></div>
            <input type="text" id="message-input" placeholder="Type your message here...">
            <button id="send-button">Send</button>
        </section>
    </main>
    <script src="/chat-bundle.js"></script>
</body>

</html>
