<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Meeting</title>
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <h1>{{ message }}</h1>

    <div class="container">
        <div class="field">
            <label for="room-id-input">Room ID:</label>
            <input type="text" id="room-id-input" placeholder="Enter Room ID">
        </div>
        <button id="join-room-button">Join Room</button>
    </div>

    <script src="/main-bundle.js"></script>
</body>

</html>
