name: Server PR Check

on:
  push:
    paths:
      - "server/**"
      - ".github/workflows/pr-check-server.yml"
  pull_request:
    paths:
      - "server/**"
      - ".github/workflows/pr-check-server.yml"

jobs:
  backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: server

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "latest"
          cache: true

      - name: Download dependencies
        run: go mod download

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./...
