name: Server PR Check

permissions:
  contents: read
  pull-requests: write

on:
  push:
    paths:
      - "server/**"
      - ".github/workflows/pr-check-server.yml"
  pull_request:
    paths:
      - "server/**"
      - ".github/workflows/pr-check-server.yml"

jobs:
  backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: server

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          cache: true
          cache-dependency-path: server/go.sum

      - name: Download dependencies
        run: go mod download

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./...

      - name: Test Race
        run: go test --race ./...
